
/**
 * Variables and Bootstrap overrides
 */

// Colors
//...............

$color-blue				: #3b5998;
$color-dark-grey		: #363636;
$color-black			: #000000;
$color-light-grey		: #ebebeb;

$primary-color:          $color-blue;
$second-color:           $color-light-grey;
$third-color:            $color-dark-grey;
//$fourth-color:           $color-light-grey;

$body-bg:                #fff;
$text-color:             $third-color;

// Fonts
//...............
$primary-font:           "Open Sans", Helvetica, Arial, sans-serif;
$title-font: 			 'Source Sans Pro', sans-serif;
$secondary-font:         "Arvo", Georgia, Times, serif;
$font-size:              14px;

//fonts-type
$font_thin:'';
$font_light: '300';
$font_regular:'400';
$font_smbold:'600';
$font_bold:'700';

