<footer class="footer">
    <div class="foo-inside">
    	<figure class="foo-logo"><img src="assets/img/logo-foot.png" alt=""></figure>
        <div class="foo-share">
        	<ul class="list-unstyled foo-social" >
    	        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    	        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    	        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        	</ul>
        	<p class="copyright">Copyright © 2016 RifqiAlam. </p>
        </div>
        <div class="clearfix"></div>
        
        <div class="foo-misc">
            <p>Untuk informasi lebih detail mengenai kegiatan saya bisa kontak di <a href="#">hello@rifqialam.co.id</a></p>
        </div>
    </div>
</footer> <!-- //FOOTER -->
