  <header id="header">
  	<div class="logo">
		<a href="#">
			<figure><img src="assets/img/logo.png" alt=""></figure>
		</a>
	</div> <!-- logo -->
  	<div class="container">
  		<div class="row">
			 <ul class="menu-scroll">
		        <li class="active"><a href="#" data-modal-id="modalAbout">About</a></li>
		        <li><a href="#" data-modal-id="modal-dev">Perkembangan</a></li>
		        <li><a href="#" data-modal-id="modal-contact">Hubungi</a></li>
		     </ul>
	     </div>
     </div>
  </header> <!-- HEADER -->


  
