<div id="main" role="main" >
    <div id="scrollingarea">
        <div class="section1 section" style="background-image: url('assets/img/body-bg.jpg')";>
            <div class="main-home">
                <div class="container">
                    <div class="row">

                        <div class="intro-home">
                            <div class="row">
                                <div class="the-king">
                                    <figure>
                                        <img src="assets/img/theking.png" alt="">
                                    </figure>
                                </div>

                                <div class="hero">
                                    <header>
                                        <h1>Sale now <span>like you gonna die</span>, but buy <span>like you gonna be</span> immortal.</h1>
                                        <div class="desc">
                                            <p>There are no secrets to success. It is the result of preparation, hard work, and learning from failure.</p>
                                            <span class="txt-vertical">RifqiAlam</span>
                                        </div>
                                    </header>
                                    <ul class="hero-motto list-unstyled">
                                        <li><span>Teamwork - collaboration</span></li>
                                        <li><span>Hardwork - creativity and integrity</span></li>
                                    </ul>
                                    <div class="btn-bottomWrap">
                                        <a data-modal-id="modal-dev" href="#" class="btn-btnRound">proven study case</a>
                                    </div><!-- //btn-bottomWrap -->
                                </div><!-- //hero -->
                            </div>
                        </div> <!--//intro-home -->

                        <section class="aside-float">
                            <h2 class="title-asideFloat">digital & offline<strong>activity</strong></h2>
                            <div class="social-box">
                                <div class="gridWall grid-wall">
                                    <div class="sc-tw grid-wallitem">
                                        <article class="center-v">
                                            <a href="#">
                                                <span class="iconwrap"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                                                <div class="so-desc">
                                                    <p>Change your thoughts and you change your world.</p>
                                                </div>
                                            </a>
                                        </article>
                                    </div>

                                     <div class="sc-fb grid-wallitem">
                                        <article class="center-v">
                                            <a href="#">
                                                <span class="iconwrap"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                                                <div class="so-desc">
                                                    <p>Change your thoughts and you change your world.Lorem 
                                                </ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                             </a>
                                            </div>
                                        </article>
                                    </div>


                                     <div class="sc-instag grid-wallitem">
                                        <article class="center-v">
                                            <a href="#">
                                                <figure>
                                                    <img src="assets/img/instag1.jpg" alt="">
                                                </figure>
                                                <span class="iconwrap"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                                            </a>
                                        </article>
                                    </div>

                                    <div class="sc-tw grid-wallitem">
                                        <article class="center-v">
                                            <a href="#">
                                                <span class="iconwrap"><i class="fa fa-twitter" aria-hidden="true"></i></span>
                                                <div class="so-desc">
                                                    <p>Change your thoughts and you change your world. Lorem 
                                                </ipsum dolor sit amet, consectetur adipiscing elit</p>
                                             </a>
                                            </div>
                                        </article>
                                    </div>
                    
                                    <div class="sc-fb grid-wallitem">
                                        <article class="center-v">
                                            <a href="#">
                                                <div class="so-desc">
                                                     <span class="iconwrap"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                                                     <p>Change your thoughts and you change your</p>
                                                </div>
                                            </a>
                                        </article>
                                    </div>

                                    <div class="sc-instag grid-wallitem">
                                        <article class="center-v" style="height: 121px">
                                            <a href="#">
                                                <figure>
                                                    <img src="assets/img/instag2.jpg" alt="">
                                                </figure>
                                                <span class="iconwrap"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                                            </a>
                                        </article>
                                    </div>
                                </div> <!-- grid -->
                            </div> <!-- //social-box -->
                        </section><!-- //aside-floating -->

                         <div class="social-small">
                                <ul class="list-unstyled">
                                    <li class="soc-tw">
                                        <a href="#">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="soc-fb">
                                        <a href="#">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="soc-instag">
                                        <a href="#">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div> <!-- //social-share -->
                    </div>
                </div>
            </div><!-- //main-home -->
        </div> <!--section -->

        <div class="section2 section" style="background-image: url('assets/img/bg-section2.jpg')";>
            <div class="container-in">
                <div class="intro-section2">
                    <h1>Communicate <span>with us.</span></h1>
                    <div class="content-text">
                        <p>We are on your site. Please <a href="#">Contact Us</a></p>
                    </div>
                </div>
            </div>
        </div><!--section -->

        <div class="section3 section" style="background-image: url('assets/img/bg-section3.jpg')";>
            <div class="main-quote">
                <div class="container">
                    <div class="theking-quote">
                        <div class="thumb">
                            <figure><img src="assets/img/theking2.png" alt=""></figure>
                        </div>

                        <div class="quote-main">
                            <h1>“The digital revolution is far more significant than the invention of writing or even of printing.”</h1>
                            <h5><strong>RifqiAlam</strong> - Intergrated Marketing Consultant</h5>
                        </div>
                    </div> <!-- //theking-quote -->
                </div>
            </div>
        </div><!--section -->
    </div>

    <div id="modalAbout" class="modal-box">
        <a href="#" class="js-modal-close"></a>
          <div class="modal-body">
            <div class="modal-about">
                <h2 class="title-blue">About Me</h2>
                <div class="content-text">
                    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, magna ut egestas ultricies, libero diam finibus felis, a efficitur eros diam blandit quam. Suspendisse imperdiet nisi vel orci cursus euismod. Cras et eleifend lacus, at tristique erat. Aenean vulputate elit dui, non luctus ex venenatis a. Nulla finibus posuere iaculis. Phasellus vel turpis eu turpis vehicula euismod in eu leo. Nulla ut cursus nibh.
                    </p>
                    <p>Donec leo arcu, volutpat vitae tortor ac, blandit feugiat ligula. Praesent malesuada mauris ac orci sodales, ac cursus mi sagittis. Nulla convallis sem ac nisl faucibus tincidunt. Nunc sollicitudin posuere quam a posuere. Quisque hendrerit nulla non arcu tempor tristique. Aenean tempus, libero a euismod fermentum, arcu nisl luctus felis, nec laoreet ante nunc ut orci. Aenean porttitor est eget justo porta congue. Suspendisse potenti. In luctus faucibus odio, sit amet aliquet mauris. Donec consectetur nulla non purus vehicula, a suscipit sem 
                    </p>
                </div>
                <div class="space30"></div>
                <h2 class="title-blue">Carrer</h2>
                <div class="content-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, magna ut egestas ultricies, libero diam finibus felis, a efficitur eros diam blandit quam. Suspendisse imperdiet nisi vel orci cursus euismod. Cras et eleifend lacus, at tristique erat. Aenean vulputate elit dui, non luctus ex venenatis a. Nulla finibus posuere iaculis. Phasellus vel turpis eu turpis vehicula euismod 
                    </p>
                </div>

                <div class="foo-modal-about">
                    <div class="partners">
                        <ul class="list-unstyled">
                            <li><figure><img src="assets/img/about-logo.png" alt=""></figure></li>
                            <li><figure><img src="assets/img/about-logo2.png" alt=""></figure></li>
                            <li><figure><img src="assets/img/about-logo3.png" alt=""></figure></li>
                            <li><figure><img src="assets/img/about-logo4.png" alt=""></figure></li>
                        </ul>
                    </div>

                    <div class="contact-about">
                        <div class="contact-me">
                            <h2>Contact me :</h2>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <p><a href="#">hello@rifqialam.com</a></p>
                        </div>
                        <div class="foo-share">
                            <h2>Social media :</h2>
                            <ul class="list-unstyled foo-social" >
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- // foo-about -->
            </div>
          </div>
    </div> <!-- //MAIN -->

    <div id="modal-dev" class="modal-box">
        <a href="#" class="js-modal-close"></a>
          <div class="modal-body">
            <div class="row">
                 <div class="modal-devDesc">
                    <h2 class="title-blue">Strategy</h2>
                    <div class="content-text">
                        <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis, magna ut egestas ultricies, libero diam finibus felis, a efficitur eros diam blandit quam. Suspendisse imperdiet nisi vel orci cursus euismod. Cras et eleifend lacus, at tristique erat. Aenean vulputate elit dui, non luctus ex venenatis a. Nulla finibus posuere iaculis. Phasellus vel turpis eu turpis vehicula euismod in eu leo. Nulla ut cursus nibh.
                        </p>
                        <p>Donec leo arcu, volutpat vitae tortor ac, blandit feugiat ligula. Praesent malesuada mauris ac orci sodales, ac cursus mi sagittis. Nulla convallis sem ac nisl faucibus tincidunt. Nunc sollicitudin posuere quam a posuere. Quisque hendrerit nulla non arcu tempor tristique. Aenean tempus, libero a euismod fermentum, arcu nisl luctus felis, nec laoreet ante nunc ut orci. Aenean porttitor est eget justo porta congue. Suspendisse potenti. In luctus faucibus odio, sit amet aliquet mauris. Donec consectetur nulla non purus vehicula, a suscipit sem 
                        </p>
                    </div>
                    <ul class="client-smList">
                        <li><img src="assets/img/client1.png" alt=""></li>
                        <li><img src="assets/img/client2.png" alt=""></li>
                        <li><img src="assets/img/client3.png" alt=""></li>
                    </ul>
                 </div><!-- //modal-devDesc -->

                 <div class="modal-devClients">
                     <figure><img src="assets/img/clients.jpg" alt=""></figure>
                 </div><!-- //modal-devClients -->
             </div>
          </div>
    </div> <!-- //MAIN -->

    <div id="modal-contact" class="modal-box">
        <a href="#" class="js-modal-close"></a>
          <div class="modal-body">
              <div class="contact-us">
                    <h2 class="title-blue">Contact Us</h2>
                    <form name="" class="">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="Title">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" placeholder="Company">
                            </div>
                        </div>
                        
                        <div class="form-group ">
                            <select class="form-control selectStyle">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>    
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="8"></textarea>
                        </div>

                         <div class="btnWrap">
                             <input type="submit" value="Submit" class="btn-blue">
                         </div>
                    </form>
              </div><!-- //contact-us -->
          </div>
    </div> <!-- //MAIN -->
  