/** ASIDE SOCIAL FLOAT
===================================*/
.aside-float{
	display: none;
	@include make-md-column(3);
	margin-top: -70px;
	position: relative;
	right: auto;
	left: 0;
	top: 0;
	@media screen and (min-width: 62em){
		display: block;
	}
}

.title-asideFloat{
	display: none;
	margin: 0;
	font-family: 'proxima_novalight';
	font-size: 24px;
	text-align: right;
	text-transform: uppercase;
	line-height: 1.2em;
	margin-bottom: 25px;
	@media screen and (min-width: 62em){
		display: block;
	}
	@media screen and (min-width: 82em){
		font-size: 28px;
	}
	strong{
		font-family: 'Helvetica', proximanova-bold;
		font-weight: 700;
		display: block;
		position: relative;
		&:before{
			content:'';
			position: absolute;
			right: 0;
			bottom: -5px;
			height: 5px;
			width: 70px;
			background-color: $primary-color;
		}

	}
}

.social-box{
	display: none;
	position: absolute;
	width: 320px;
	top: 83px;
	right: -4vw;
	left: auto;

	@media screen and (min-width: 62em){
		display: block;
	}
	a{
		color: white;
		&:hover{
			text-decoration: none;
		}
	}
	@media screen and (min-width: 90em){
		width: 360px;
		right: -20px;
		right: -1.6vw;
	}

	.grid-wall{
		//@include display-flex;
		//@include flex-direction(row);
		//@include flex-wrap(wrap);
		//@include align-items(stretch);
		//max-height: 560px;
		@media screen and (max-width: 89em){
			.grid-wallitem{
				&:nth-of-type(5){
					display: none;
				}
				&:last-child{
					display: none;
				}
			}
		}
		
		.grid-wallitem{
			line-height: normal;
			float: left;
			padding: 20px;
			width: 100%;
			width: 49.8%;
			height: auto;
			font-family: "proxima_novalight";
			font-size: 14px;
			@include prefixed(transition, all 0.5s);
			
			&:hover{
				@include opacity(0.8);
			}
			
  			&.sc-tw{
  			    background: #55acee;
  				color: white;
  			}
  			&.sc-fb{
  				background: #3b5998;
  				color: white;
  			}
  			&.sc-instag{
  				background-color: #9b6954;
  				color: white;
  				position: relative;
  				z-index: 5;
  				overflow: hidden;
  				padding: 0;
  				img{
  					width: 100%;
  					@include opacity(0.7);
  				}

  				figure{

  				}

  				.iconwrap{
  					position: absolute;
  					left: 43%;
    				top: 43%;
  				}
  			}
  			.so-desc{
  				line-height: 1.3em;
  			}
  			 .iconwrap{
  				text-align: center;
  				display: block;
  				color: white;
  				line-height: 45px;
  				@media screen and (min-width: 62em){
  					margin-bottom: 18px;
  					line-height: normal;
  				}
  			}
  			.fa{
  				text-align: center;
  				font-size: 1.9em;
  			}
		}
	}
}

.social-small{
	position: fixed;
	z-index: 902;
	right: 0;
	bottom: 150px;
	@include prefixed(transition, all 0.8s ease);
	@media screen and (min-width: 62em){
		bottom: -200%;
	}
	ul{
		li{
			display: block;
			@include prefixed(transition, all 0.3s linear);

			a{
				display: block;
				padding: 10px;
				height: 50px;
				width: 50px;
				background: #3b5998;
				color: white;
				text-align: center;
			
				.fa{
  					font-size: 1.9em;
  				}
			}

			&.soc-tw{
				a{
					background: #55acee;
				}
			}
			&.soc-instag{
				a{
					background-color: #9b6954;
				}
			}

			&:hover{
				@include opacity(0.7);
				a{
					text-decoration: none;
					color: white;

				}
			}
		}
	}
}