/** FOOTER
===================================*/
.footer{
	position: relative;
	left: 0;
	bottom : 0;
	z-index: 10;
	width: 100%;
	padding: 20px 25px;
	text-align: center;
	@media screen and (min-width: 62em){
		padding: 0 50px;
		text-align: left;
		position: fixed;
	}
	.foo-logo{
		width: 55px;
		vertical-align: hidden;
		margin: 0 auto 5px;
		@media screen and (min-width: 62em){
			float: left;
			margin-right: 18px;
		}
	}
}

.foo-inside{
    white-space: normal;
    @media screen and (max-width: 89em){
    	max-width: 400px;
    }
     @media screen and (max-width: 75em){
     	max-width: none;
     }
}

.foo-share{
	overflow: hidden;
}
.foo-social{
	margin-bottom: 5px;
	li{
		@include inline-block();
		margin-right: 1.8em;
		a{
			color: black;
			font-size: 2em;

			&:hover{
				text-decoration: none;
				color: $primary-color;
			}
		}
	}
}
.copyright{
	font-family: 'AvantGarde-Book';
	font-size: 14px;
	margin: 0;
}