/** HEADER
===================================*/
#header{
	position: relative;
	width: 100%;
	margin: 0 auto;
	z-index: 900;
	overflow: hidden;
	@media screen and (min-width: 62em){
		position: fixed;
	}
	.container{
		position: relative;
	}
}

.logo{
	float: left;
}


.menu-scroll{
	display: none;
	@include make-md-column(6);
	position: absolute;
	z-index: 990;
	top: 0;
	right: 0;
	@media screen and (min-width: 48em){
		text-align: right;
		display: block;
	}

	li{
		@include inline-block();

		a{
			display: block;
			width: 100%;
			padding: 50px 14px 0;
			position: relative;
			font-family: 'AvantGarde-Book';
			font-size: 16px;
			color: $primary-color;

			&:before{
				content: '';
				position: absolute;
				z-index: 5;
				top: 0;
				left: 0;
				right: 0;
				margin: auto;
				height:0;
				width: 1px;
				background: $primary-color;
				@include prefixed(transition, all 0.8s ease);
			}

			&:hover{
				text-decoration: none;
				&:before{
					height: 65%;
				}
			}

			&:last-child{
				padding-right: 0;
			}
		}

		&.active{
			a{
				text-decoration: none;
				&:active &:focus{
					text-decoration: none;
				}
				&:before{
					height: 65%;
				}
			}
		}
	}
	
}
