/** HOME
===================================*/

.intro-home{
	@include make-md-column(9);
	@media screen and (min-width: 62em){
		padding-top: 25px;
	}

	@media screen and (max-width: 62em){
		padding-right: 10vw;
		padding-left: 10vw;
	}
}

/** LOGO
===================================*/
.header-home{
	max-width: 1450px;
	margin: 0 auto;
	@include clearfix();
}
.logo{
	width: 300px;
	overflow: hidden;
	@media screen and (min-width: 48em){
		width: 338px;
	}
}

/** LAYOUT
===================================*/
.section{
	&.section1{
		padding-top: 40px;
		padding-bottom: 40px;
		overflow: hidden;
		@media screen and (min-width: 75em){
			//padding-top: 170px;
			padding-bottom: 0;
		}
		@media screen and (min-width: 75em){
			.pp-tableCell{
				//vertical-align: top;
			}
		}
	}
	&.section3 {
		padding: 15% 0;
		@media screen and (min-width:  75em){
			.pp-tableCell{
				vertical-align: bottom;
			}
		}
		@media screen and (min-width: 62em){
			padding: 0;
			padding-top: 170px;
		}
	}

	&.section2{
		padding: 15% 0; 
	}
}


/** SECTION-One
===================================*/
.main-home{
	position: relative;
	@media screen and (min-width: 90em){
		&:before{
			content: "";
			height: 100%;
			width: 2px;
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			top: 89%;
			background: #7f96c6;
		}
	}
}

.the-king{
	@include make-md-column(4);
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	display: none;
	/*@media screen and (min-width: 62em){
		float:left;
		width: 25%;
	}*/
	@media screen and (min-width: 75em){
		display: block;
	}
	@media screen and (min-width: 90em){
		float: left;
		width: 33.33333%;
	}
	figure{
		position: absolute;
		width: 100%;
		max-width: 380px;
		margin-left: 10px;
		@media screen and (min-width: 62em){
			img{
				max-width: 400px;
			}
		}
		@media screen and (min-width: 90em){
			img{
				max-width: 570px;
			}
		}
	}
}

.hero{
	@include make-md-column(8);
	position: relative;
	background-color: rgba(white, 0.2);
	padding-top: 15px;
	@media screen and (max-width: 75em){
		padding-left: 6vw;
	}
	@media screen and (max-width: 62em){
		padding-left: 0
	}
	@media screen and (min-width: 62em) and (max-width: 75em){
		width: 90%;
	}
	@media screen and (min-width: 90em){
		padding-left: 35px;
		padding-right: 40px;
		padding-top: 0;
		background: none;
	}
	header{
		position: relative;
		color: black;
		font-family: 'proximanova-semibold';

		@media screen and (min-width: 62em){
			.desc{
				max-width: 80%;
			}
		}
		p{
			font-size: 20px;
			line-height: 1.2em;
		}
	}

	h1{
		margin: 0;
		margin-bottom: 20px;
		font-family: "AvantGarde-Demibold";
		font-size: 37px;
		line-height: 1em;
		color: $primary-color;
		padding-right: 38px;
		span{
			font-family: 'AvantGarde-Extralight'
		}
		@media screen and (min-width: 90em){
			font-size: 48px;
			line-height: 1.1em;
		}
		@media screen and (max-width: 62em){
			font-size: 34px;
		}
	}

	.txt-vertical{
		font-family: "AvantGarde-Demibold";
		font-size: 18px;
		color: $primary-color;
		position: absolute;
		right: -30px;
		top: 32px;
		transform: rotateZ(90deg);
		-moz-transform: rotateZ(90deg);
		-webkit-transform: rotateZ(90deg);
	}
}

.hero-motto{
	margin-top: 35px;
	margin-bottom: 25px;
	text-align: left;
	@media screen and (min-width: 40em){
		display: flex;
		margin-bottom: 0;
	}
	@media screen and (min-width: 90em){
		margin-top: 65px;
	}

	li{
		flex-grow: 1;
		margin-bottom: 5px;
		font-family: "proximanova-bold";
		font-size: 16px;
		font-style: italic;
		
		@media screen and (min-width: 40em){
			@include min-height(80px);
			background-color: transparent;
			background-position: left top;
			background-repeat: no-repeat;
			@include background-size(55px);
			font-style: normal;
			margin-bottom: 10px;
		}	

		@media screen and (min-width: 90em){
			@include background-size(77px); 
			padding: 12px 0 12px 42px;
		}
		
		&:first-child{
			color: #55acee;
			@media screen and (min-width: 40em){
				background-image: image-url('circle-half-grey.png');
			}
			
		}
		&:last-child{
			color: #3b5998;
			@media screen and (min-width: 40em){
				background-image: image-url('circle-half.png');	
			}
		}

		span{
			@include inline-block();
			@media screen and (min-width: 40em){
				padding: 18px 0 28px 18px;
			}
		}
	}
}

.btn-bottomWrap{
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	.btn-btnRound{
		@include border-radius(40px);
		@include inline-block();
		padding: 10px 25px 14px;
		text-align: center;
		font-size: 20px;
		color: #7f96c6;
		border: 1px solid #7f96c6;
		background: transparent;
		min-width: 150px;

		&:hover{
			text-decoration: none;
			background-color: $primary-color;
			color: white;
		}
	}
	@media screen and (min-width: 90em){
		margin-top: 50px;
		.btn-btnRound{
			min-width: 300px;
			padding: 20px 30px 24px;
			font-size: 20px;
		}
	}
}


/** SECTION2
===================================*/
.intro-section2{
	max-width: 780px;
	margin: 0 auto;
	text-align: center;
	@media screen and (min-width: 62em){
		text-align: left;
		margin: 0 0 0 40px;
	}
	h1{
		margin: 0;
		font: 400 50px/1em 'AvantGarde-Demibold';
		color: $primary-color;
		word-wrap: break-word;
		white-space: normal;
		margin-bottom: 20px;
		span{
			font-family: 'AvantGarde-Extralight';
		}
		@media screen and (min-width: 62em){
			font-size: 72px;
			margin-bottom: 0;
		}
		@media screen and (max-width: 38em){
			font-size: 35px;
		}
	}
	.content-text{
		font: 400 20px 'proximanova-semibold';
		a{
			font-style: italic;
			font-family: 'proximanova-regular';
		}
	}
}

/** SECTION3
===================================*/
.theking-quote{
	@include make-row();
	padding-right: 10vw;
		padding-left: 10vw;
	@media screen and (min-width: 48em){
		padding: 0;
	}
	.thumb{	
		float: left;
		display: none;
		@media screen and (min-width: 48em){
			display: block;
		}
		figure{
			width: 100%;
			max-width: 36vw;
			overflow: hidden;
			@media screen and (min-width: 90em){
				//max-width: 550px;
				//max-width: 38vw;
			}
		}
	}
	.quote-main{
		overflow: hidden;
		max-width: 750px;
		@media screen and (min-width: 62em){
			margin-top: 0;
		}
		@media screen and (min-width: 90em){
			margin-top: 30px;
			margin-left: -40px
		}

		h1{
			margin: 0;
			font: 400 36px/1.4em 'AvantGarde-Demibold';
			color: $primary-color;
			margin-bottom: 10px;
			@media screen and (max-width: 48em){
				font-size: 31px;
			}
			@media screen and (min-width: 62em){
				font-size: 40px;
			}
			@media screen and (min-width: 90em){
				font-size: 48px;
			}
		}

		h5{
			margin: 0;
			font-size: 20px;
			font-family: 'proximanova-regular';
			strong{
				font-weight: 400;
				font-family: 'proximanova-bold';
			}
		}
	}
}

.main-quote{
	position: relative;
}



/** MODAL POPUP
===================================*/
.modal-box {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 98%;
  background-clip: padding-box;
  overflow: scroll;

  @media screen and (max-width: 62em){
  	padding-top: 30px;
	position: relative;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 900;
 }
  .modal-body {
    padding: 2em 1.5em;
  }
  footer, .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
  }
}

@media (min-width: 32em) {
  .modal-box {
    width: 88%;
    max-width: 1250px;
  }
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity = 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1) !important;
  @media screen and (max-width: 62em){
  	display: none !important;
  }
}

a.js-modal-close {
  @include inline-block();
  @include size(31px, 30px);
  position: absolute;
  top: 0;
  right: 2%;
  text-decoration: none;
  background: transparent image-url('close-modal.png') 0 0 no-repeat;
  @include background-size(31px auto);
  z-index: 100;
  &:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
  }

    @media screen and (max-width: 62em){
    	top: 50px;
    }
}


/** MODAL ABOUT
===================================*/
.modal-about{
	@include make-md-column(10);
	@media screen and (min-width: 62em){
		float: right;
	}
}

.foo-modal-about{
	margin-top: 40px;
	overflow: hidden;
}

.partners{
	margin-bottom: 12px;
	@media screen and (min-width: 48em){
		float: left;
		margin-bottom: 0;
	}
	ul{
		li{
			@include inline-block();
			padding: 0 10px;
			margin-bottom: 8px;
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
			}
		}
	}
}

.contact-about{
	@media screen and (min-width: 48em){
		float: left;
		margin-left: 100px;
	}

	h2{
		margin: 0;
		margin-bottom: 8px;
		font : normal 16px 'AvantGarde-Demibold';
		color: $primary-color;
	}

	.contact-me{
		@include inline-block();
		margin-right: 20px;
		.fa{
			font-size: 2em;
			@include inline-block();
			margin-right: 10px;
		}
		p{
			@include inline-block();
			padding-top: 10px;
			a{
				font-family: 'AvantGarde-Book';
				font-style: italic;	
				font-size: 16px;
				text-decoration: underline;
				color: $primary-color;
			}
		}
	}

	.foo-share{
		@include inline-block();
	}

	.foo-social{
		li a{
			font-size: 1.8em;
		}
	}
}

/** MODAL DEVELOPMENT
===================================*/
.modal-devDesc, .modal-devClients{
	@include make-sm-column(6)
}
.modal-devClients{
 	@media screen and (min-width: 62em){
 		padding-top: 60px;
 	}
}

.client-smList{
	margin: 0;
	padding: 0;
	margin-top: 40px;
	li{
		@include inline-block();
		margin-bottom: 10px;
		width: 48%;
		padding: 0 15px;
		@media screen and (min-width: 62em){
			width: 32%;
		}
	}
}

.contact-us{
	max-width: 815px;
	margin: 0 auto;

	.title-blue{
		text-align: center;
		margin-bottom: 30px;
	}

	.form-control{
		height: 49px;
		border: 1px solid #c2c2c2;
		@include border-radius(0);
		&:focus{
			border: 1px solid #3b5998 ;
		}
	}

	.btn-blue{
		width: 100%;
		max-width: 390px;
	}
}

