/*====== RESPONSIVE MENU ======*/

.hamburgerwrap{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 907;
  text-align: right;
  background: transparent;
  display: block;
  @media screen and (min-width: 48em){
      display: none;
  }
  @media screen and (max-width: 330px){
      right: auto;
      left: 0;
  }
}
.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: darken(#3a5897, 20%);
  border: 0;
  margin: 0;
  margin-right: 0px;
  overflow: visible; 
  &:hover {
    opacity: 0.7; 
  }

  @media screen and (max-width: 330px){
      padding: 8px 5px;
  }
}

.hamburger-box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 35px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  &::before, &::after {
    width: 35px;
    height: 4px;
    background-color: white;
    @include border-radius(4px);
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  &::before, &::after {
    content: "";
    display: block;
  }
  &::before {
    top: -10px;
  }
  &::after {
    bottom: -10px;
  }
}

.hamburger--collapse {
  .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.15s;
    transition-delay: 0.15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &::after {
      top: -20px;
      transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    }
    &::before {
      transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
  &.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.32s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    &::after {
      top: 0;
      opacity: 0;
      transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
    }
    &::before {
      top: 0;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}

.nav-mobile{
  width: 100%;
  z-index: 905;
  background-color: #3a5897;
  color: white;
  position: absolute;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  padding: 25px;
  padding-top: 40px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  .nav-sidebar{
    margin-top: 50px;
  }
  ul{
    list-style: none outside none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    li{
      a{
        font-size: 15px;
        text-transform: capitalize;
        padding: 12px 10px 12px 10px;
        display: block;
        font-weight: 600;
        color: white;
        width: 100%;

        &:hover, &:focus{
            color: white;
            background-color: darken(#3a5897,20%);
            text-decoration: none;
          }
      }

    }
  }
}

.nav-mobile{
   top: -200%;
  .btn-hide{
    margin-left: 30px;
    margin-top: 20px;
    height: 42px;
    width: 42px;
    @include inline-block();
    text-align: center;
    line-height: 42px;
    background-color: #313131;
    color: white;
    box-shadow: inset 0 0 0 2px #313131;

    &:hover,
    &:focus{
      background-color: transparent;
      color: #c1c1c1;
    }
  }
  &.sidebar-active{
     top: 0;
  }
}
